//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\layout\body.scss
//


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none!important;
    @include font($simplon);
}

body{
    width: 100%;
    // min-height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
}

hr{
    border: none;

    &.default{
        height: 5px;
        width: 100%;
        background-color: #ddd;
    }
}

%default-content-style{
    position: relative;
    padding: {
        top: em(40);
        bottom: em(40);
    }

    p{
        font-size: em(22);
        max-width: none;
    }
}
