//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\layout\form.scss
//

select{
    -webkit-appearance: none;
    appearance: none;

    background: {
        image: url(../images/icons/arrow.svg);
        position: calc(100% - 12px) center;
        repeat: no-repeat;
        size: em(24);
    };
}

.group{
    position: relative;
    height: 80px;
    margin: 16px 0;

    input, select, textarea{
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
        height: 80px;
        padding: 15px 15px 0;
        font-size: em(24);
        background-color: transparent;
        border: 1px solid #ddd;
        transition: all $timing $ease-out;

        &.has-value{
            & ~ label{
                top: 18px;
                color: #999;
                font-size: em(14);
            }
        }

        &:focus{
            border-color: color(purple);
        }

        &[disabled]{
            pointer-events: none;
            cursor: pointer;
            opacity: .5;

            & ~ label:not(.error){
                pointer-events: none;
                cursor: pointer;
                opacity: .5;
            }
        }
    }

    label:not(.error){
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        z-index: 1;

        font-size: em(20);
        color: #1a1a1a;
        letter-spacing: .5px;
    }
}

.input--group{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    &__append{
        background-color: #ddd;
        width: percentage( 154px / 312px );
        max-width: 154px;
        flex: 0 0 percentage( 154px / 312px );
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        overflow: hidden;

        img{
            width: 90%;
        }
    }
}

.group-flex{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;

    .group{
        width: 100%;
    }

    .group{
        margin: 0 2px;

        // input, select, textarea{
        //     padding: 0;
        // }
        input{ text-align: center; }
    }
}

.checkbox{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: em(15.2);

    &-control{
        margin-right: 16px;
        position: relative;
        @include _make-size(40);
        flex: 0 0 40px;
        border: 2px solid color(purple);

        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(
            translate(-50%, -100%)
            rotate(-45deg)
            scale(2)
            );
            opacity: 0;
            visibility: hidden;

            @include _make-size(10, 20);

            border: {
                top: none;
                left: 2px solid color(purple);
                right: none;
                bottom: 2px solid color(purple);
            }

            @include transition(all $timing*1.5 $ease-in);
        }
    }

    [type="checkbox"] {
        position: absolute;
        top: 0;
        left: -9999px;
        z-index: -1;

        &:checked{
            + .checkbox-control{
                &:after{
                    @include _make-size(10, 20);
                    @include transform(
                    translate(-50%, -68%)
                    rotate(-45deg)
                    scale(1)
                    );
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    a{
        display: inline;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -8px;
            @include _make-size(2, auto);
            background-color: color(purple);
        }
    }
}
