//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/27/2019
//   modified at : 02/27/2019
//
//   location: scss\layout\header.scss
//

.header{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    &--index{
        padding: {
            top: 32px;
            bottom: 32px;
        }
    }

    &--left, &--right, &--link, &--close{
        height: 65px;

    }

    &--left, &--right, &--close{
        border-bottom: 1px solid color(gray-300);
    }

    &--left{
        flex: 1 1 auto;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &--right{
        flex: 0 0 154px;
        max-width: 154px;
        border-left: 1px solid color(gray-300);
    }

    .brand{
        margin: 0 16px;
        flex: 0 0 auto;
    }

    &--link{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: em(14);
        color: color(purple);

        span{
            font-size: percentage( 18px / 14px );
            line-height: 1;
            margin-right: 15px;
            letter-spacing: 0.18px;
            text-align: center;
            color: color(gray-900);
        }
        small{
            display: block;
            font-size: percentage( 12px / 18px );
            text-transform: uppercase;
        }
        img{
            display: block;
            max-width: em(24);
            margin-left: 8px;
        }
    }

    &--close{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 em(120);
        max-width: em(120);
        @include transition(all $timing $ease-in);

        span{
            color: color(purple);
            font-size: em(14);
        }

        img{
            @include _make-size(24);
            margin-left: 10px;
        }

        &:hover{
            background-color: darken(#fff, 5%);
        }
    }

}
