//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\layout\layout.scss
//

hr{

    height: em(1);
    margin: {
        top: 0;
        bottom: 0;
    }
    
    &.hr{

        &--default{
            background-color: color(gray-300);
        }

        &--purple{
            background-color: color(purple);
        }
    }

    &.y2{
        @include _make-size(2, auto);
    }
}

.container{

    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: {
        left: $gutter * 2;
        right: $gutter * 2;
    }

    &.fluid{
        width: 100%!important;
    }
}

img.brand{
    max-width: em(40);
    display: block;
}


.button{
    display: inline-block;
    border: 1px solid transparent;
    max-width: 312px;
    width: 100%;
    height: 48px;
    font-size: em(20);
    letter-spacing: .8px;

    &[disabled]{
        pointer-events: none;
        cursor: pointer;
        background-color: #ccc!important;
        border-color: #ccc!important;
        color: #fff!important;
    }

    @each $name, $color in $colors{
        &.#{$name}{
            background-color: #{$color};
            border-color: $color;

            @if $name = 'purple' {
                color: #fff!important;
            }
            @else if $name = 'yellow' {
                color: color(black)!important;
            } @else {
                color: #fff;
            }
        }
    }
}

.link{
    font-size: em(16);
    color: color(purple);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    &--underline,
    span{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            bottom: em(-6);
            left: 0;
            height: em(2);
            width: 100%;
            background-color: color(purple);
        }
    }

    &--underline{
        display: inline-block!important;
    }
    img{
        width: em(18);
        height: em(18);
        margin: em(9) em(8) 0 0;
    }
}


.page--bottom{
    border-top: 8px solid color(gray-100);
    padding: em(32) em(24) em(64);
    overflow: hidden;

    &__images{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        align-items: center;
        margin-top: em(16);
        margin-left: em(-8);

        &.start{
            justify-content: flex-start;
        }
        &.end{
            justify-content: flex-end;
        }

        img{
            width: em(80);
            flex: 0 0 em(80);
            height: em(80);
            box-shadow: 0 0 16px rgba(#000, .19);
            border-radius: em(15);
            margin: 0 em(8)
        }
    }
}

.cards{

    .card{
        padding: em(24);
        border: 1px solid #ddd;
        box-shadow: 0 1px 2px rgba(#000, .1);
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &--content {
            flex: 1 1 calc(100% - 73px);
        }

        &--title{
            color: color(gray-900);
            margin-bottom: 10px;
        }

        &--description{
            font-size: 100%;
            max-width: 190px;
            color: color(gray-600);
            margin-bottom: 20px;
        }

        &--badge{
            position: absolute;
            color: #fff;
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            border-top: 38px solid color(purple);
            border-right: 38px solid color(purple);
            border-left: 38px solid transparent;
            border-bottom: 38px solid transparent;

            span{
                position: absolute;
                top: -30px;
                right: -40px;
                transform: rotate(45deg);
                text-align: center;
                line-height: 1;
            }
        }

        &--arrow{
            transform: rotate(-90deg);
            width: em(24);
        }
    }
}


.cards--credits{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: em(30);
    margin-bottom: em(15);

    img{
        @include _make-size(28, 42);
        margin: 0 2px;
    }
}