//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src d// private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\layout\typography.scss
//

h1{
    font-size: em(40);
    margin: 22px 0 8px;
    font-weight: 400;
    color: color(gray-900);
    letter-spacing: .8px;
}

h4{
    font-size: em(24);
    font-weight: 400;
    letter-spacing: -.5px;
}

p{
    color: color(gray-900);
    font-size: em(20);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .2px;
    max-width: 300px;
    margin: 0;

    >small{
        font-size: percentage( 12px / 20px );
    }

    &.text--muted{
        color: #999;
        font-size: 90%;

        a{
            color: inherit;
        }
    }
}

.text--center{
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}
