//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/27/2019
//   modified at : 02/27/2019
//
//   location: scss\plugins\carousel.scss
//


.carousel{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: em(30) em(-5) em(32);
    width: 100%;

    margin-left: -24px;
    width: 100vw;
    padding: 0 24px 20px;
    overflow-x: hidden;

    &--item{
        min-height: em(540);
        max-width: em(292);
        flex: 0 0 em(292);
        border-radius: em(8);
        overflow: hidden;
        box-shadow: 0 2px 25px 0 rgba(#000, .19);
        margin: 0 em(5);
    }

    &--header{
        min-height: 266px;
        background-color: color(purple);
        padding: em(24) em(15);

        &__text{
            color: color(white);
            text-align: center;
            font-size: em(52);
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;

            small{
                display: block;
                font-size: percentage( 12px / 52px );
                margin-bottom: em(35);
            }

            span{
                color: color(yellow);
                display: block;
                font-weight: 400;
                font-size: percentage( 20px / 52px );
                margin-top: -7px;
            }
        }

        &__images{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: em(154);
                width: auto;
                margin: em(8) em(2);
                display: block;
            }
        }

        &__info{
            span{
                text-align: center;
                color: #fff;
                display: block;
                font-size: em(15);
            }
        }
    }

    &--content{
        padding: em(48) 0 em(40);

        .button{
            max-width: em(159);
            height: em(48);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            margin: 0 auto;
            font-size: em(20);
        }
    }

    &--price{
        font-size: em(64);
        color: color(gray-900);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: -.84px;

        span{
            font-size: percentage( 32px / 64px );
            line-height: .9;
        }
        small{
            display: block;
            font-size: percentage( 20px / 32px ) ;
        }

        &__text{
            color: color(gray-300);
            font-size: 12px!important;
            text-align: center;
            text-transform: uppercase;
            margin: em(-14) auto em(32);
        }
    }

    &--footer{

        ul{
            li{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 em(16) em(5);

                &:last-of-type{
                    margin-bottom: em(30);
                }

                figure{
                    width: em(35);
                    flex: 0 0 em(35);
                    height: em(35);
                    display: -webkit-flex;
                    display: -ms-flex;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    margin: 0 0;

                }
                span{
                    font-size: em(12);
                    margin: 0 0 0 em(15);
                    text-align: left;
                }
            }
        }


        a:not(.link){
            height: 45px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid color(gray-200);
            font-size: em(12);
            color: color(gray-800);
        }

        img{
            margin: 0 em(20);
            flex: 0 0 em(24);
            max-width: em(24);
        }

        a > img {
            transform: rotate(0);
            transition: all .125s ease;
        }

        span{
            flex: 1 1 auto;
            text-align: center;
            margin-left: em(64);
        }

        &.active{
            a > img {
                transform: rotate(180deg);
            }
        }
    }

    &--bullets{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: em(40);

        span{
            height: em(10);
            width: em(10);
            border-radius: 50%;
            background-color: color(gray-200);
            margin: 0 em(2);

            &.active{
                background-color: color(purple);
            }
        }
    }
}
