//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/27/2019
//   modified at : 02/27/2019
//
//   location: scss\plugins\carousel.scss
//

.modal{
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    opacity: 0;
    transition: all $timing $ease-in;

    &.active{
        top: 0;
        opacity: 1;
    }


    &--content{
        height: calc( 100vh - 65px );
        overflow: auto;
        padding: em(40) em(20);

        
        &__title{
            font-size: em(28);
            color: color(gray-900);
            letter-spacing: .5px;
            font-weight: 400;
            margin-bottom: em(10);
        }

        &__subtitle{
            font-size: em(24);
            color: color(gray-800);
            letter-spacing: .43px;
            margin: {
                top: em(35);
                bottom: em(15);
            }
        }

        &__text{
            font-size: em(14);
            color: color(gray-800);
            letter-spacing: .4px;
            margin-bottom: em(25);
            font-weight: 300;
            margin-bottom: em(50);
            width: 100%;
            max-width: none;
            line-height: 18px;
        }

        &__link{
            display: inline-block;
            font-size: 100%;
            color: color(gray-800);
            text-decoration: underline;

            &:hover{
                color: color(purple);
            }
        }
    }

}