/*
|   created by Andre Carello
|   created at : 02/26/2019
|   modified at : 02/26/2019
|
|   location: scss\main.scss
*/
/* BREAKPOINTS */
.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-3 {
  margin-top: 24px; }

.mt-4 {
  margin-top: 32px; }

.mt-5 {
  margin-top: 48px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 48px; }

[class*="w-"] {
  margin-left: 0 !important; }

.w-0 {
  width: 0 !important; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

@font-face {
  font-family: "Simplon";
  src: url("../fonts/simplonoi-headline.eot");
  src: url("../fonts/simplonoi-headline.eot?#iefix") format("embedded-opentype"), url("../fonts/simplonoi-headline.woff2") format("woff2"), url("../fonts/simplonoi-headline.woff") format("woff"), url("../fonts/simplonoi-headline.ttf") format("truetype"), url("../fonts/simplonoi-headline.svg") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Simplon";
  src: url("../fonts/simplonbp-light-webfont.eot");
  src: url("../fonts/simplonbp-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simplonbp-light-webfont.woff2") format("woff2"), url("../fonts/simplonbp-light-webfont.woff") format("woff"), url("../fonts/simplonbp-light-webfont.ttf") format("truetype"), url("../fonts/simplonbp-light-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Simplon";
  src: url("../fonts/simplonbp-regular-webfont.eot");
  src: url("../fonts/simplonbp-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simplonbp-regular-webfont.woff2") format("woff2"), url("../fonts/simplonbp-regular-webfont.woff") format("woff"), url("../fonts/simplonbp-regular-webfont.ttf") format("truetype"), url("../fonts/simplonbp-regular-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Simplon";
  src: url("../fonts/simplonbp-medium-webfont.eot");
  src: url("../fonts/simplonbp-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simplonbp-medium-webfont.woff2") format("woff2"), url("../fonts/simplonbp-medium-webfont.woff") format("woff"), url("../fonts/simplonbp-medium-webfont.ttf") format("truetype"), url("../fonts/simplonbp-medium-webfont.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Simplon";
  src: url("../fonts/simplonbp-bold-webfont.eot");
  src: url("../fonts/simplonbp-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simplonbp-bold-webfont.woff2") format("woff2"), url("../fonts/simplonbp-bold-webfont.woff") format("woff"), url("../fonts/simplonbp-bold-webfont.ttf") format("truetype"), url("../fonts/simplonbp-bold-webfont.svg") format("svg");
  font-weight: 800;
  font-style: normal; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none !important;
  font-family: Simplon, sans-serif; }

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px; }

hr {
  border: none; }
  hr.default {
    height: 5px;
    width: 100%;
    background-color: #ddd; }

.home {
  position: relative;
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  .home p {
    font-size: 1.375em;
    max-width: none; }

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-position: calc(100% - 12px) center;
  background-repeat: no-repeat;
  background-size: 1.5em; }

.group {
  position: relative;
  height: 80px;
  margin: 16px 0; }
  .group input, .group select, .group textarea {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 80px;
    padding: 15px 15px 0;
    font-size: 1.5em;
    background-color: transparent;
    border: 1px solid #ddd;
    transition: all 0.125s cubic-bezier(0.91, 0.12, 0.86, 0.29); }
    .group input.has-value ~ label, .group select.has-value ~ label, .group textarea.has-value ~ label {
      top: 18px;
      color: #999;
      font-size: 0.875em; }
    .group input:focus, .group select:focus, .group textarea:focus {
      border-color: #8F25E4; }
    .group input[disabled], .group select[disabled], .group textarea[disabled] {
      pointer-events: none;
      cursor: pointer;
      opacity: .5; }
      .group input[disabled] ~ label:not(.error), .group select[disabled] ~ label:not(.error), .group textarea[disabled] ~ label:not(.error) {
        pointer-events: none;
        cursor: pointer;
        opacity: .5; }
  .group label:not(.error) {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 1.25em;
    color: #1a1a1a;
    letter-spacing: .5px; }

.input--group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }
  .input--group__append {
    background-color: #ddd;
    width: 49.35897%;
    max-width: 154px;
    flex: 0 0 49.35897%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden; }
    .input--group__append img {
      width: 90%; }

.group-flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap; }
  .group-flex .group {
    width: 100%; }
  .group-flex .group {
    margin: 0 2px; }
    .group-flex .group input {
      text-align: center; }

.checkbox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.95em; }
  .checkbox-control {
    margin-right: 16px;
    position: relative;
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    border: 2px solid #8F25E4; }
    .checkbox-control:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -100%) rotate(-45deg) scale(2);
      transform: translate(-50%, -100%) rotate(-45deg) scale(2);
      opacity: 0;
      visibility: hidden;
      height: 10px;
      width: 20px;
      border-top: none;
      border-left: 2px solid #8F25E4;
      border-right: none;
      border-bottom: 2px solid #8F25E4;
      -webkit-transition: all 0.1875s cubic-bezier(0.16, 0.97, 0.51, 0.89);
      transition: all 0.1875s cubic-bezier(0.16, 0.97, 0.51, 0.89); }
  .checkbox [type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: -1; }
    .checkbox [type="checkbox"]:checked + .checkbox-control:after {
      height: 10px;
      width: 20px;
      -webkit-transform: translate(-50%, -68%) rotate(-45deg) scale(1);
      transform: translate(-50%, -68%) rotate(-45deg) scale(1);
      opacity: 1;
      visibility: visible; }
  .checkbox a {
    display: inline;
    position: relative; }
    .checkbox a:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -8px;
      height: 2px;
      width: auto;
      background-color: #8F25E4; }

.header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header--index {
    padding-top: 32px;
    padding-bottom: 32px; }
  .header--left, .header--right, .header--link, .header--close {
    height: 65px; }
  .header--left, .header--right, .header--close {
    border-bottom: 1px solid #b3b3b3; }
  .header--left {
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .header--right {
    flex: 0 0 154px;
    max-width: 154px;
    border-left: 1px solid #b3b3b3; }
  .header .brand {
    margin: 0 16px;
    flex: 0 0 auto; }
  .header--link {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    color: #8F25E4; }
    .header--link span {
      font-size: 128.57143%;
      line-height: 1;
      margin-right: 15px;
      letter-spacing: 0.18px;
      text-align: center;
      color: #1a1a1a; }
    .header--link small {
      display: block;
      font-size: 66.66667%;
      text-transform: uppercase; }
    .header--link img {
      display: block;
      max-width: 1.5em;
      margin-left: 8px; }
  .header--close {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 7.5em;
    max-width: 7.5em;
    -webkit-transition: all 0.125s cubic-bezier(0.16, 0.97, 0.51, 0.89);
    transition: all 0.125s cubic-bezier(0.16, 0.97, 0.51, 0.89); }
    .header--close span {
      color: #8F25E4;
      font-size: 0.875em; }
    .header--close img {
      height: 24px;
      width: 24px;
      margin-left: 10px; }
    .header--close:hover {
      background-color: #f2f2f2; }

hr {
  height: 0.0625em;
  margin-top: 0;
  margin-bottom: 0; }
  hr.hr--default {
    background-color: #b3b3b3; }
  hr.hr--purple {
    background-color: #8F25E4; }
  hr.y2 {
    height: 2px;
    width: auto; }

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px; }
  .container.fluid {
    width: 100% !important; }

img.brand {
  max-width: 2.5em;
  display: block; }

.button {
  display: inline-block;
  border: 1px solid transparent;
  max-width: 312px;
  width: 100%;
  height: 48px;
  font-size: 1.25em;
  letter-spacing: .8px; }
  .button[disabled] {
    pointer-events: none;
    cursor: pointer;
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #fff !important; }
  .button.white {
    background-color: #fff;
    border-color: #fff;
    color: #fff !important; }
  .button.gray-100 {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #fff !important; }
  .button.gray-200 {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #fff !important; }
  .button.gray-300 {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    color: #fff !important; }
  .button.gray-400 {
    background-color: #999999;
    border-color: #999999;
    color: #fff !important; }
  .button.gray {
    background-color: gray;
    border-color: gray;
    color: #fff !important; }
  .button.gray-600 {
    background-color: #666666;
    border-color: #666666;
    color: #fff !important; }
  .button.gray-700 {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #fff !important; }
  .button.gray-800 {
    background-color: #333333;
    border-color: #333333;
    color: #fff !important; }
  .button.gray-900 {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #fff !important; }
  .button.black {
    background-color: #000;
    border-color: #000;
    color: #fff !important; }
  .button.purple {
    background-color: #8F25E4;
    border-color: #8F25E4;
    color: #fff !important; }
  .button.yellow {
    background-color: #F9D937;
    border-color: #F9D937;
    color: #fff !important; }

.link {
  font-size: 1em;
  color: #8F25E4;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  .link--underline,
  .link span {
    position: relative; }
    .link--underline:after,
    .link span:after {
      content: '';
      position: absolute;
      bottom: -0.375em;
      left: 0;
      height: 0.125em;
      width: 100%;
      background-color: #8F25E4; }
  .link--underline {
    display: inline-block !important; }
  .link img {
    width: 1.125em;
    height: 1.125em;
    margin: 0.5625em 0.5em 0 0; }

.page--bottom {
  border-top: 8px solid #e6e6e6;
  padding: 2em 1.5em 4em;
  overflow: hidden; }
  .page--bottom__images {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: -0.5em; }
    .page--bottom__images.start {
      justify-content: flex-start; }
    .page--bottom__images.end {
      justify-content: flex-end; }
    .page--bottom__images img {
      width: 5em;
      flex: 0 0 5em;
      height: 5em;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
      border-radius: 0.9375em;
      margin: 0 0.5em; }

.cards .card {
  padding: 1.5em;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .cards .card--content {
    flex: 1 1 calc(100% - 73px); }
  .cards .card--title {
    color: #1a1a1a;
    margin-bottom: 10px; }
  .cards .card--description {
    font-size: 100%;
    max-width: 190px;
    color: #666666;
    margin-bottom: 20px; }
  .cards .card--badge {
    position: absolute;
    color: #fff;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 38px solid #8F25E4;
    border-right: 38px solid #8F25E4;
    border-left: 38px solid transparent;
    border-bottom: 38px solid transparent; }
    .cards .card--badge span {
      position: absolute;
      top: -30px;
      right: -40px;
      transform: rotate(45deg);
      text-align: center;
      line-height: 1; }
  .cards .card--arrow {
    transform: rotate(-90deg);
    width: 1.5em; }

.cards--credits {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1.875em;
  margin-bottom: 0.9375em; }
  .cards--credits img {
    height: 28px;
    width: 42px;
    margin: 0 2px; }

h1 {
  font-size: 2.5em;
  margin: 22px 0 8px;
  font-weight: 400;
  color: #1a1a1a;
  letter-spacing: .8px; }

h4 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -.5px; }

p {
  color: #1a1a1a;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .2px;
  max-width: 300px;
  margin: 0; }
  p > small {
    font-size: 60%; }
  p.text--muted {
    color: #999;
    font-size: 90%; }
    p.text--muted a {
      color: inherit; }

.text--center {
  text-align: center; }

ul {
  list-style: none;
  padding: 0; }

main.index .button {
  margin-top: 85px; }

.home--confirm {
  position: absolute;
  top: 0;
  right: 1.5em;
  height: 40px;
  width: 40px; }

.carousel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.875em -0.3125em 2em;
  width: 100%;
  margin-left: -24px;
  width: 100vw;
  padding: 0 24px 20px;
  overflow-x: hidden; }
  .carousel--item {
    min-height: 33.75em;
    max-width: 18.25em;
    flex: 0 0 18.25em;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0.3125em; }
  .carousel--header {
    min-height: 266px;
    background-color: #8F25E4;
    padding: 1.5em 0.9375em; }
    .carousel--header__text {
      color: #fff;
      text-align: center;
      font-size: 3.25em;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 20px; }
      .carousel--header__text small {
        display: block;
        font-size: 23.07692%;
        margin-bottom: 2.1875em; }
      .carousel--header__text span {
        color: #F9D937;
        display: block;
        font-weight: 400;
        font-size: 38.46154%;
        margin-top: -7px; }
    .carousel--header__images {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
      .carousel--header__images img {
        max-width: 9.625em;
        width: auto;
        margin: 0.5em 0.125em;
        display: block; }
    .carousel--header__info span {
      text-align: center;
      color: #fff;
      display: block;
      font-size: 0.9375em; }
  .carousel--content {
    padding: 3em 0 2.5em; }
    .carousel--content .button {
      max-width: 9.9375em;
      height: 3em;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      margin: 0 auto;
      font-size: 1.25em; }
  .carousel--price {
    font-size: 4em;
    color: #1a1a1a;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -.84px; }
    .carousel--price span {
      font-size: 50%;
      line-height: .9; }
    .carousel--price small {
      display: block;
      font-size: 62.5%; }
    .carousel--price__text {
      color: #b3b3b3;
      font-size: 12px !important;
      text-align: center;
      text-transform: uppercase;
      margin: -0.875em auto 2em; }
  .carousel--footer ul li {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0.3125em; }
    .carousel--footer ul li:last-of-type {
      margin-bottom: 1.875em; }
    .carousel--footer ul li figure {
      width: 2.1875em;
      flex: 0 0 2.1875em;
      height: 2.1875em;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
    .carousel--footer ul li img {
      margin: 0 0; }
    .carousel--footer ul li span {
      font-size: 0.75em;
      margin: 0 0 0 0.9375em;
      text-align: left; }
  .carousel--footer a:not(.link) {
    height: 45px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cccccc;
    font-size: 0.75em;
    color: #333333; }
  .carousel--footer img {
    margin: 0 1.25em;
    flex: 0 0 1.5em;
    max-width: 1.5em; }
  .carousel--footer a > img {
    transform: rotate(0);
    transition: all .125s ease; }
  .carousel--footer span {
    flex: 1 1 auto;
    text-align: center;
    margin-left: 4em; }
  .carousel--footer.active a > img {
    transform: rotate(180deg); }
  .carousel--bullets {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em; }
    .carousel--bullets span {
      height: 0.625em;
      width: 0.625em;
      border-radius: 50%;
      background-color: #cccccc;
      margin: 0 0.125em; }
      .carousel--bullets span.active {
        background-color: #8F25E4; }

.modal {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  opacity: 0;
  transition: all 0.125s cubic-bezier(0.16, 0.97, 0.51, 0.89); }
  .modal.active {
    top: 0;
    opacity: 1; }
  .modal--content {
    height: calc( 100vh - 65px);
    overflow: auto;
    padding: 2.5em 1.25em; }
    .modal--content__title {
      font-size: 1.75em;
      color: #1a1a1a;
      letter-spacing: .5px;
      font-weight: 400;
      margin-bottom: 0.625em; }
    .modal--content__subtitle {
      font-size: 1.5em;
      color: #333333;
      letter-spacing: .43px;
      margin-top: 2.1875em;
      margin-bottom: 0.9375em; }
    .modal--content__text {
      font-size: 0.875em;
      color: #333333;
      letter-spacing: .4px;
      margin-bottom: 1.5625em;
      font-weight: 300;
      margin-bottom: 3.125em;
      width: 100%;
      max-width: none;
      line-height: 18px; }
    .modal--content__link {
      display: inline-block;
      font-size: 100%;
      color: #333333;
      text-decoration: underline; }
      .modal--content__link:hover {
        color: #8F25E4; }
