//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/27/2019
//   modified at : 02/27/2019
//
//   location: scss\pages\home.scss
//


.home{
    @extend %default-content-style;

    &--confirm{
        position: absolute;
        top: 0;
        right: em(24);
        @include _make-size(40);
    }
}
