//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\pages\index.scss
//

main.index{
    .button{
        margin-top: 85px;
    }
}
