.mt-1 {
    margin-top: 8px;
}
.mt-2 {
    margin-top: 16px;
}
.mt-3 {
    margin-top: 24px;
}
.mt-4 {
    margin-top: 32px;
}
.mt-5{
    margin-top: 48px;
}

.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-3 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 48px;
}


[class*="w-"]{
    margin-left: 0 !important;
}
.w-0{
    width: 0!important;
}
.w-25{
    width: 25%!important;
}
.w-50{
    width: 50%!important;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}
