//
//   created by Andre Carello
//   repository: https://bitbucket.org/andrelinocl/oi-ofertas/src // private
//   created at : 02/26/2019
//   modified at : 02/26/2019
//
//   location: scss\main.scss
//


//
// files, images, icons and backgrounds
//
$fonts_location: '../fonts/';
$images_location: '../images/';
$backgrounds_location: '#{$images_location}backgrounds/';
$icons_location: '#{$images_location}icons/';


//
// breakpoints
//
$breakpoints: (
'sm'  :   576px,
'md'  :   768px,
'lg'  :   992px,
'xl'  :   1200px,
'xxl' :   1500px
) !default;

//
// font-size default
//
$browser-context: 16;



//
// number of columns
//
$columns: 12;


//
// gutter default
//
$gutter: 12px;


//
// helpers lenght default
//
$lenght: 5;


//
// animation timing default
//
$timing: .125s;


//
// animation transitions
//
$ease: ease;
$ease-out: cubic-bezier(0.91, 0.12, 0.86, 0.29);
$ease-in: cubic-bezier(0.16, 0.97, 0.51, 0.89);
$fast-in: cubic-bezier(0, 0.96, 0, 0.89);




//
// social media colors
//
$linkedin-color: #8D6CAB;
$facebook-color: #1d3469;
$google-plus-color: #ff5d5d;


//
// array/list of colors
//
$colors: (
    white : #fff,
    gray-100: darken(#fff, 10%),
    gray-200 : darken(#fff, 20%),
    gray-300 : darken(#fff, 30%),
    gray-400 : darken(#fff, 40%),
    gray : darken(#fff, 50%),
    gray-600 : darken(#fff, 60%),
    gray-700 : darken(#fff, 70%),
    gray-800 : darken(#fff, 80%),
    gray-900 : darken(#fff, 90%),
    black : #000,
    purple : #8F25E4,
    yellow : #F9D937
);


//
// font face
//
$fonts: (
    'Simplon' simplonoi-headline 100,
    'Simplon' simplonbp-light-webfont 300,
    'Simplon' simplonbp-regular-webfont 400,
    'Simplon' simplonbp-medium-webfont 600,
    'Simplon' simplonbp-bold-webfont 800,
);


//
// web fonts
//
$simplon : 'Simplon';
$open_sans : 'Open Sans';
$montserrat : 'Montserrat';
$quicksand : 'Quicksand';
